@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@font-face {
  font-family: 'SF Pro';
  src: url('/public/fonts/SF-Pro.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Expanded';
  src: url('/public/fonts/SF-Pro.ttf') format('truetype');
  font-weight: normal;
  font-style: expanded;
}
/* 
@font-face {
  font-family: 'SF Pro';
  src: url('/fonts/SF-Pro-Display-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Expanded';
  src: url(''/fonts/SF-Pro-Display-Expanded.ttf'') format('truetype');
  font-weight: 400;
  font-style: normal;
} */


.frosted-glass {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(30px);
  padding: 1.5rem;
  border-radius: 0.5rem;
}

